li{
  font-size: 40px;
  list-style-type: none;
  font-family:papyrus;
}
input{
  font-size: 40px;
  background-color: burlywood;
  font-family:papyrus;
  text-align: center;
}
body{
  background-color: burlywood;
  text-align: center;
}
h1{
  font-size: 50px;
  font-family:papyrus;
}
button{
  font-size: 40px;
  background-color: burlywood;
  font-family:papyrus;
  text-align: center;
  border: solid 5px;
}